body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.3);
    height: 2cm;
    border-bottom: 2px solid black;
    padding-left: 5cm;
}

.side {
    position: absolute;
    top: 2cm;
    left: 0;
    background-color: rgba(0, 0, 255, 0.3);
    height: calc(100% - 2cm);
    width: 2cm;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1cm;
}

.menu-item {
    margin: 1cm;
    font-weight: bold;
}

.content {
    position: absolute;
    top: 3cm;
    left: 5cm;
}

.circle {
    width: 4cm;
    height: 4cm;
    background-color: rgba(255, 255, 0, 0.2);
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: scaleX(2);
}

.circle p {
    transform: scaleX(0.5);
}
